.dart__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 6rem;
}
.dart__navbar-links {
	flex: 1;
	display: flex;
	justify-self: center;
	align-items: center;
}
.dart__navbar-links_logo {
	margin-right: 2 rem;
}
.dart__navbar-links_logo img {
	width: 60px;
	height: 12px;
}
.dart__navbar-links_container{
	display: flex;
	flex-direction: row;
}
.dart__navbar-sign{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}
.dart__navbar-links_container p,
.dart__navbar-sign p,
.dart__navbar-menu-container p {
	color: #fff;
	font-family: var(--font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 25px;
	text-transform: capitalize;
	margin: 0 1rem;
	cursor: pointer;

	
}
.dart__navbar-sign button,
.dart__navbar-menu-container button {
	padding: 0.40rem 1rem;
	color: #fff;
	background:  #ff4820;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	border: 0;





}